function Ball.new 0
push constant 20
call Memory.alloc 1
pop pointer 0
push constant 15
pop this 8
push constant 30
pop this 9
push constant 50
pop this 10
push constant 150
pop this 11
push constant 5
pop this 13
push constant 4
pop this 14
push constant 3
pop this 15
push constant 2
pop this 16
push constant 1
pop this 17
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push argument 4
pop this 4
push constant 0
pop this 19
push pointer 0
call Ball.show 1
pop temp 0
push pointer 0
return
function Ball.getStart 0
push argument 0
pop pointer 0
push this 19
return
function Ball.setStart 0
push argument 0
pop pointer 0
push constant 0
not
pop this 19
push constant 0
return
function Ball.getX 0
push argument 0
pop pointer 0
push this 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 4
push constant 2
call Math.divide 2
sub
push this 1
push this 4
push constant 2
call Math.divide 2
sub
push this 0
push this 4
push constant 2
call Math.divide 2
add
push this 1
push this 4
push constant 2
call Math.divide 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.kollide 0
push argument 0
pop pointer 0
push constant 0
pop this 18
push argument 1
push this 0
sub
pop this 5
push this 5
push constant 255
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 512
neg
push this 5
add
pop this 5
label IF_FALSE0
push this 5
push constant 255
neg
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 512
push this 5
add
pop this 5
label IF_FALSE1
push argument 2
push this 1
sub
pop this 6
push this 6
push constant 127
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 256
neg
push this 6
add
pop this 6
label IF_FALSE2
push this 6
push constant 127
neg
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 256
push this 6
add
pop this 6
label IF_FALSE3
push this 4
push argument 3
add
push constant 2
call Math.divide 2
pop this 7
push this 5
push this 7
lt
push this 5
push this 7
neg
gt
and
push this 6
push this 7
neg
gt
and
push this 6
push this 7
lt
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
not
pop this 18
label IF_FALSE4
push this 18
return
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push argument 1
push this 0
sub
pop this 5
push this 5
push constant 255
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 512
neg
push this 5
add
pop this 5
label IF_FALSE0
push this 5
push constant 255
neg
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 512
push this 5
add
pop this 5
label IF_FALSE1
push argument 2
push this 1
sub
pop this 6
push this 6
push constant 127
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 256
neg
push this 6
add
pop this 6
label IF_FALSE2
push this 6
push constant 127
neg
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 256
push this 6
add
pop this 6
label IF_FALSE3
push this 5
push this 8
lt
push this 5
and
push constant 0
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 2
push this 13
add
pop this 2
label IF_FALSE4
push this 5
push this 9
lt
push this 5
and
push this 8
push constant 1
sub
gt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 2
push this 14
add
pop this 2
label IF_FALSE5
push this 5
push this 10
lt
push this 5
and
push this 9
push constant 1
sub
gt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 2
push this 15
add
pop this 2
label IF_FALSE6
push this 5
push this 11
lt
push this 5
and
push this 10
push constant 1
sub
gt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 2
push this 16
add
pop this 2
label IF_FALSE7
push this 5
push this 11
push constant 1
sub
gt
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 2
push this 17
add
pop this 2
label IF_FALSE8
push this 5
push this 8
neg
gt
push this 5
and
push constant 0
neg
lt
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push this 2
push this 13
sub
pop this 2
label IF_FALSE9
push this 5
push this 9
neg
gt
push this 5
and
push this 8
neg
push constant 1
sub
lt
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push this 2
push this 14
sub
pop this 2
label IF_FALSE10
push this 5
push this 10
neg
gt
push this 5
and
push this 9
neg
push constant 1
sub
lt
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push this 2
push this 15
sub
pop this 2
label IF_FALSE11
push this 5
push this 11
neg
gt
push this 5
and
push this 10
neg
push constant 1
sub
lt
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push this 2
push this 16
sub
pop this 2
label IF_FALSE12
push this 5
push this 11
neg
push constant 1
sub
lt
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push this 2
push this 17
sub
pop this 2
label IF_FALSE13
push this 6
push this 8
lt
push this 6
and
push constant 0
gt
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push this 3
push this 13
add
pop this 3
label IF_FALSE14
push this 6
push this 9
lt
push this 6
and
push this 8
push constant 1
sub
gt
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push this 3
push this 14
add
pop this 3
label IF_FALSE15
push this 6
push this 10
lt
push this 6
and
push this 9
push constant 1
sub
gt
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
push this 3
push this 15
add
pop this 3
label IF_FALSE16
push this 6
push this 11
lt
push this 6
and
push this 10
push constant 1
sub
gt
if-goto IF_TRUE17
goto IF_FALSE17
label IF_TRUE17
push this 3
push this 16
add
pop this 3
label IF_FALSE17
push this 6
push this 11
push constant 1
sub
gt
if-goto IF_TRUE18
goto IF_FALSE18
label IF_TRUE18
push this 3
push this 17
add
pop this 3
label IF_FALSE18
push this 6
push this 8
neg
gt
push this 6
and
push constant 0
neg
lt
if-goto IF_TRUE19
goto IF_FALSE19
label IF_TRUE19
push this 3
push this 13
sub
pop this 3
label IF_FALSE19
push this 6
push this 9
neg
gt
push this 6
and
push this 8
neg
push constant 1
sub
lt
if-goto IF_TRUE20
goto IF_FALSE20
label IF_TRUE20
push this 3
push this 14
sub
pop this 3
label IF_FALSE20
push this 6
push this 10
neg
gt
push this 6
and
push this 9
neg
push constant 1
sub
lt
if-goto IF_TRUE21
goto IF_FALSE21
label IF_TRUE21
push this 3
push this 15
sub
pop this 3
label IF_FALSE21
push this 6
push this 11
neg
gt
push this 6
and
push this 10
neg
push constant 1
sub
lt
if-goto IF_TRUE22
goto IF_FALSE22
label IF_TRUE22
push this 3
push this 16
sub
pop this 3
label IF_FALSE22
push this 6
push this 11
neg
push constant 1
sub
lt
if-goto IF_TRUE23
goto IF_FALSE23
label IF_TRUE23
push this 3
push this 17
sub
pop this 3
label IF_FALSE23
push this 3
push constant 20
gt
if-goto IF_TRUE24
goto IF_FALSE24
label IF_TRUE24
push this 3
push constant 2
sub
pop this 3
label IF_FALSE24
push this 3
push constant 20
neg
lt
if-goto IF_TRUE25
goto IF_FALSE25
label IF_TRUE25
push this 3
push constant 2
add
pop this 3
label IF_FALSE25
push this 2
push constant 30
gt
if-goto IF_TRUE26
goto IF_FALSE26
label IF_TRUE26
push this 2
push constant 2
sub
pop this 2
label IF_FALSE26
push this 2
push constant 30
neg
lt
if-goto IF_TRUE27
goto IF_FALSE27
label IF_TRUE27
push this 2
push constant 2
add
pop this 2
label IF_FALSE27
push this 3
push constant 20
gt
if-goto IF_TRUE28
goto IF_FALSE28
label IF_TRUE28
push this 3
push constant 1
sub
pop this 3
label IF_FALSE28
push this 3
push constant 20
neg
lt
if-goto IF_TRUE29
goto IF_FALSE29
label IF_TRUE29
push this 3
push constant 1
add
pop this 3
label IF_FALSE29
push this 2
push constant 30
gt
if-goto IF_TRUE30
goto IF_FALSE30
label IF_TRUE30
push this 2
push constant 1
sub
pop this 2
label IF_FALSE30
push this 2
push constant 30
neg
lt
if-goto IF_TRUE31
goto IF_FALSE31
label IF_TRUE31
push this 2
push constant 1
add
pop this 2
label IF_FALSE31
push this 0
push this 2
add
pop this 0
push this 1
push this 3
add
pop this 1
push argument 3
push constant 100
gt
if-goto IF_TRUE32
goto IF_FALSE32
label IF_TRUE32
push constant 1
push this 2
call Math.abs 1
push this 3
call Math.abs 1
add
push constant 2
call Math.divide 2
add
pop this 4
label IF_FALSE32
push this 2
push constant 0
lt
push this 0
push this 4
push constant 2
call Math.divide 2
lt
and
if-goto IF_TRUE33
goto IF_FALSE33
label IF_TRUE33
push constant 511
push this 4
push constant 2
call Math.divide 2
sub
pop this 0
label IF_FALSE33
push this 2
push constant 0
gt
push this 0
push constant 511
push this 4
push constant 2
call Math.divide 2
sub
gt
and
if-goto IF_TRUE34
goto IF_FALSE34
label IF_TRUE34
push this 4
push constant 2
call Math.divide 2
pop this 0
label IF_FALSE34
push this 3
push constant 0
lt
push this 1
push this 4
push constant 2
call Math.divide 2
lt
and
if-goto IF_TRUE35
goto IF_FALSE35
label IF_TRUE35
push constant 255
push this 4
push constant 2
call Math.divide 2
sub
pop this 1
label IF_FALSE35
push this 3
push constant 0
gt
push this 1
push constant 255
push this 4
push constant 2
call Math.divide 2
sub
gt
and
if-goto IF_TRUE36
goto IF_FALSE36
label IF_TRUE36
push this 4
push constant 2
call Math.divide 2
pop this 1
label IF_FALSE36
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push pointer 0
call Ball.show 1
pop temp 0
push this 0
return
